* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #4a9eff;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.Navbar {
    width: 20%;
    background-color: #1e1e1e;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Navbar h1 {
    font-size: 48px;
    font-weight: 600;
}

.Navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Navbar a {
    font-size: 24px;
}

.Navbar ul,
footer ul {
    list-style: none;
}

.content {
    width: 80%;
    background-color: #2e2e2e;
}

header {
    background-color: #14131a;
    width: 100%;
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-text h1 {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 36px;
}

.header-text .subtitle {
    font-size: 24px;
}

.header-inner img {
    height: 200px;
    margin-bottom: 20px;
}

main {
    font-size: 18px;
    line-height: 1.5;
}

main h1 {
    font-size: 48px;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer {
    width: 100%;
    background-color: #14131a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}