* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1;
}

.Navbar {
    width: 20%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.content {
    width: 80%;
    background-color: #2e2e2e;
}

.header,
.main {
    width: 100%;
    max-width: 1400px;
}

.header {
    background-color: #14131a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.header img {
    height: 200px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    background-color: #14131a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}