* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #4a9eff;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.Navbar {
    width: 20%;
    background-color: #1e1e1e;
    padding: 3rem 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.Navbar h1 {
    font-size: 3rem;
    font-weight: 700;
}

.Navbar ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.Navbar a {
    font-size: 1.5rem;
}

.Navbar ul,
footer ul {
    list-style: none;
}

.content {
    width: 80%;
    background-color: #2e2e2e;
}

header {
    background-color: #14131a;
    width: 100%;
}

.header-inner,
.about,
.skills,
.projects {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.header-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header-text h1 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2.25rem;
}

.header-text .subtitle {
    font-size: 1.5rem;
}

.header-inner img {
    height: 12.5rem;
}

main {
    font-size: 1.25rem;
    line-height: 1.5;
}

main h1 {
    font-size: 3rem;
}

.about {
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills {
    margin: 0 auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects {
    margin: 0 auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer {
    width: 100%;
    background-color: #14131a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}